.taskBody {
  margin: 2rem;
  width: 40vw;
}

.taskList {
  margin-top: 1rem;
}

.taskItem {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid var(--light-grey);
  transition: 0.3s;
  cursor: pointer;
  color: var(--dark-grey);
  font-weight: 700;
  font-size: 24px;

  &:hover {
    box-shadow: inset 0 -60px 0 0 var(--light-grey);
    transition: 0.3s;
  }

  .itemGroup {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
