:root {
  --aqua: #00b3bb;
  --light-aqua: #00e6aa;
  --dark-aqua: #0e9aa1;
  --grey: #e6e6e6;
  --light-grey: #f7f7f7;
  --dark-grey: #757575;
  --white: #ffffff;
  --green: #61b874;
  --yellow: #e6db7b;
  --red: #e67b7b;
  --dark-red: #c46161;
}
